.package-container {
  margin-top: 6%;
}

.package-sort {
  position: relative;
  bottom: 1rem;
}

#folder-tile {
  min-width: 3rem;
  min-height: 3.2rem;
  height: 2rem;
  color: #000;
}

.packages-list {
  position: relative;
  left: 2%;
}
